{% comment %}
Sidebar navigation for Snowman 1.X
{% endcomment %}

<ul>
  <li><strong>Snowman 1.X</strong>
    <ul>
      <li><a href="/1/">Introduction</a></li>
    </ul>
  </li>
  
  <li><strong>Learning Snowman</strong>
    <ul>
      <li><a href="/1/learning/links/">Links</a></li>
      <li><a href="/1/learning/text/">Styling Text</a></li>
      <li><a href="/1/learning/markup/">HTML Shorthand</a></li>
      <li><a href="/1/learning/template/">Templates</a></li>
      <li><a href="/1/learning/print/">print()</a></li>
      <li><a href="/1/learning/functions/">Functions Not Macros</a></li>
      <li><a href="/1/learning/scope/">JavaScript Scope</a></li>
    </ul>
  </li>
  
  <li><strong>Snowman HTML and CSS</strong>
    <ul>
      <li><a href="/1/htmlandcss/elements/">HTML Elements</a></li>
      <li><a href="/1/htmlandcss/default_css/">Default CSS</a></li>
      <li><a href="/1/htmlandcss/workingwithcss/">Working with CSS</a></li>
    </ul>
  </li>
  
  <li><strong>Events</strong>
    <ul>
      <li><a href="/1/events/event_cycle/">Event Cycle</a></li>
      <li><a href="/1/events/story_events/">Story Events</a></li>
      <li><a href="/1/events/passage_events/">Passage Events</a></li>
      <li><a href="/1/events/checkpoint_events/">Checkpoint Events</a></li>
    </ul>
  </li>
  
  <li><strong>window.story</strong>
    <ul>
      <li><strong>Story Properties</strong>
        <ul>
          <li><a href="/1/window_story/properties/name/">name</a></li>
          <li><a href="/1/window_story/properties/startPassage/">startPassage</a></li>
          <li><a href="/1/window_story/properties/creator/">creator</a></li>
          <li><a href="/1/window_story/properties/creatorVersion/">creatorVersion</a></li>
          <li><a href="/1/window_story/properties/history/">history</a></li>
          <li><a href="/1/window_story/properties/state/">state</a></li>
          <li><a href="/1/window_story/properties/checkpointName/">checkpointName</a></li>
          <li><a href="/1/window_story/properties/ignoreErrors/">ignoreErrors</a></li>
          <li><a href="/1/window_story/properties/errorMessage/">errorMessage</a></li>
          <li><a href="/1/window_story/properties/passages/">passages</a></li>
          <li><a href="/1/window_story/properties/userScripts/">userScripts</a></li>
          <li><a href="/1/window_story/properties/userStyles/">userStyles</a></li>
          <li><a href="/1/window_story/properties/atCheckpoint/">atCheckpoint</a></li>
        </ul>
      </li>
      <li><strong>Story Functions</strong>
        <ul>
          <li><a href="/1/window_story/functions/checkpoint/">checkpoint()</a></li>
          <li><a href="/1/window_story/functions/passage/">passage()</a></li>
          <li><a href="/1/window_story/functions/render/">render()</a></li>
          <li><a href="/1/window_story/functions/restore/">restore()</a></li>
          <li><a href="/1/window_story/functions/save/">save()</a></li>
          <li><a href="/1/window_story/functions/saveHash/">saveHash()</a></li>
          <li><a href="/1/window_story/functions/show/">show()</a></li>
          <li><a href="/1/window_story/functions/start/">start()</a></li>
        </ul>
      </li>
    </ul>
  </li>
  
  <li><strong>window.passage</strong>
    <ul>
      <li><strong>Passage Properties</strong>
        <ul>
          <li><a href="/1/window_passage/properties/id/">id</a></li>
          <li><a href="/1/window_passage/properties/name/">name</a></li>
          <li><a href="/1/window_passage/properties/tags/">tags</a></li>
          <li><a href="/1/window_passage/properties/source/">source</a></li>
        </ul>
      </li>
      <li><strong>Passage Functions</strong>
        <ul>
          <li><a href="/1/window_passage/functions/render/">render()</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>