{% comment %}
Sidebar navigation for Snowman 2.X
{% endcomment %}

<ul>
  <li><strong>Snowman 2.X</strong>
    <ul>
      <li><a href="{{ '/2/' | relative_url }}">Introduction</a></li>
    </ul>
  </li>
  
  <li><strong>Learning Snowman</strong>
    <ul>
      <li><a href="{{ '/2/learning/links/' | relative_url }}">Links</a></li>
      <li><a href="{{ '/2/learning/text/' | relative_url }}">Styling Text</a></li>
      <li><a href="{{ '/2/learning/markup/' | relative_url }}">HTML Shorthand</a></li>
      <li><a href="{{ '/2/learning/template/' | relative_url }}">Templates</a></li>
      <li><a href="{{ '/2/learning/print/' | relative_url }}">print()</a></li>
      <li><a href="{{ '/2/learning/functions/' | relative_url }}">Functions Not Macros</a></li>
      <li><a href="{{ '/2/learning/scope/' | relative_url }}">JavaScript Scope</a></li>
    </ul>
  </li>
  
  <li><strong>Snowman HTML and CSS</strong>
    <ul>
      <li><a href="{{ '/2/htmlandcss/elements/' | relative_url }}">HTML Elements</a></li>
      <li><a href="{{ '/2/htmlandcss/default_css/' | relative_url }}">Default CSS</a></li>
      <li><a href="{{ '/2/htmlandcss/workingwithcss/' | relative_url }}">Working with CSS</a></li>
    </ul>
  </li>
  
  <li><strong>Utility Functions</strong>
    <ul>
      <li><a href="{{ '/2/utility/either/' | relative_url }}">either()</a></li>
      <li><a href="{{ '/2/utility/hasVisited/' | relative_url }}">hasVisited()</a></li>
      <li><a href="{{ '/2/utility/visited/' | relative_url }}">visited()</a></li>
      <li><a href="{{ '/2/utility/renderToSelector/' | relative_url }}">renderToSelector()</a></li>
      <li><a href="{{ '/2/utility/getStyles/' | relative_url }}">getStyles()</a></li>
    </ul>
  </li>
  
  <li><strong>Events</strong>
    <ul>
      <li><a href="{{ '/2/events/event_cycle/' | relative_url }}">Event Cycle</a></li>
      <li><a href="{{ '/2/events/story_events/' | relative_url }}">Story Events</a></li>
      <li><a href="{{ '/2/events/passage_events/' | relative_url }}">Passage Events</a></li>
      <li><a href="{{ '/2/events/checkpoint_events/' | relative_url }}">Checkpoint Events</a></li>
    </ul>
  </li>
  
  <li><strong>window.story</strong>
    <ul>
      <li><strong>Story Properties</strong>
        <ul>
          <li><a href="{{ '/2/window_story/properties/name/' | relative_url }}">name</a></li>
          <li><a href="{{ '/2/window_story/properties/startPassage/' | relative_url }}">startPassage</a></li>
          <li><a href="{{ '/2/window_story/properties/creator/' | relative_url }}">creator</a></li>
          <li><a href="{{ '/2/window_story/properties/creatorVersion/' | relative_url }}">creatorVersion</a></li>
          <li><a href="{{ '/2/window_story/properties/history/' | relative_url }}">history</a></li>
          <li><a href="{{ '/2/window_story/properties/state/' | relative_url }}">state</a></li>
          <li><a href="{{ '/2/window_story/properties/checkpointName/' | relative_url }}">checkpointName</a></li>
          <li><a href="{{ '/2/window_story/properties/ignoreErrors/' | relative_url }}">ignoreErrors</a></li>
          <li><a href="{{ '/2/window_story/properties/errorMessage/' | relative_url }}">errorMessage</a></li>
          <li><a href="{{ '/2/window_story/properties/passages/' | relative_url }}">passages</a></li>
          <li><a href="{{ '/2/window_story/properties/userScripts/' | relative_url }}">userScripts</a></li>
          <li><a href="{{ '/2/window_story/properties/userStyles/' | relative_url }}">userStyles</a></li>
          <li><a href="{{ '/2/window_story/properties/atCheckpoint/' | relative_url }}">atCheckpoint</a></li>
        </ul>
      </li>
      <li><strong>Story Functions</strong>
        <ul>
          <li><a href="{{ '/2/window_story/functions/checkpoint/' | relative_url }}">checkpoint()</a></li>
          <li><a href="{{ '/2/window_story/functions/passage/' | relative_url }}">passage()</a></li>
          <li><a href="{{ '/2/window_story/functions/render/' | relative_url }}">render()</a></li>
          <li><a href="{{ '/2/window_story/functions/restore/' | relative_url }}">restore()</a></li>
          <li><a href="{{ '/2/window_story/functions/save/' | relative_url }}">save()</a></li>
          <li><a href="{{ '/2/window_story/functions/saveHash/' | relative_url }}">saveHash()</a></li>
          <li><a href="{{ '/2/window_story/functions/show/' | relative_url }}">show()</a></li>
          <li><a href="{{ '/2/window_story/functions/start/' | relative_url }}">start()</a></li>
        </ul>
      </li>
    </ul>
  </li>
  
  <li><strong>window.passage</strong>
    <ul>
      <li><strong>Passage Properties</strong>
        <ul>
          <li><a href="{{ '/2/window_passage/properties/id/' | relative_url }}">id</a></li>
          <li><a href="{{ '/2/window_passage/properties/name/' | relative_url }}">name</a></li>
          <li><a href="{{ '/2/window_passage/properties/tags/' | relative_url }}">tags</a></li>
          <li><a href="{{ '/2/window_passage/properties/source/' | relative_url }}">source</a></li>
        </ul>
      </li>
      <li><strong>Passage Functions</strong>
        <ul>
          <li><a href="{{ '/2/window_passage/functions/render/' | relative_url }}">render()</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>