<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>{{STORY_NAME}}</title>
	</head>
	<body>
		<script><%- script %></script>
		<tw-story tags>
			<tw-passage class="passage" aria-live="polite"></tw-passage>
		</tw-story>
		{{STORY_DATA}}	
	</body>
</html>
