<!DOCTYPE html>
<html>
	<head>
		<title>{{STORY_NAME}}</title>
		<meta charset="utf-8">
		<style>
		<%- style %>
		</style>
	</head>
	<body>
		<div id="passage"></div>
		{{STORY_DATA}}
		<script>
		<%- script %>
		</script>
	</body>
</html>
