/* Give ourselves some decent defaults. */

body {
	font: 1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222;
}

tw-story {
	width: 100%;
	box-sizing: border-box;
	min-height: 100%;
	font-size: 1.5em;
	line-height: 1.5em;
	display: flex;
	flex-direction: row;
	margin-top: 1em;
}

tw-passage {
	width: 90%;
	display: block;
}

tw-link, tw-icon, a {
	color: #222;
	text-decoration-color: #ccc;
	cursor: pointer;
}

tw-link:hover, tw-icon:hover, a:hover {
	text-decoration: underline;
}

tw-sidebar {
	width: 10%;
	margin-left: 1em;
}

a:hover {
	color: #cc8929;
	text-decoration-color: #cc8929;
}

a:active {
	color: #ffb040;
	text-decoration-color: #cc8929;
}

tw-storydata {
	display: none;
}

/* scale font sizes for phones */

@media screen and (max-width: 480px) {
	#passage {
		font-size: 70%;
	}
}
