<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>{{STORY_NAME}}</title>
		<%- story_css %>
	</head>
	<body>
		{{STORY_DATA}}
		<tw-story>
			<tw-sidebar>
				<tw-icon tabindex="0" alt="Undo" title="Undo">↶</tw-icon>
			</tw-sidebar>
			<tw-passage class="passage" aria-live="polite"></tw-passage>
		</tw-story>
		<%- format %>
	</body>
</html>
